/* Fredoka, served with the game from @fontsource/fredoka (SIL Open Font Licence), so no font is
   fetched from another site and the service worker keeps it for offline play. index.html links this
   file itself, so the loading screen has the font before the game's code arrives. Latin only, in the
   three weights the game uses (800 falls back to 700). */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/fredoka/files/fredoka-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('@fontsource/fredoka/files/fredoka-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/fredoka/files/fredoka-latin-700-normal.woff2') format('woff2');
}
